# Introduction

In this demo we will be using the [MovieLens Dataset](https://grouplens.org/datasets/movielens/). The dataset slicing options are:

* **[Small](http://files.grouplens.org/datasets/movielens/ml-latest-small.zip):** 100,000 ratings and 3,600 tag applications applied to 9,000 movies by 600 users. Last updated 9/2018.
* **[Full](http://files.grouplens.org/datasets/movielens/ml-latest.zip):** 27,000,000 ratings and 1,100,000 tag applications applied to 58,000 movies by 280,000 users. Last updated 9/2018.

In [1]:
!wget http://files.grouplens.org/datasets/movielens/ml-latest-small.zip -q --show-progress
!unzip ml-latest-small.zip
!rm ml-latest-small.zip

ml-latest-small.zip 100%[===================>] 955.28K   300KB/s    in 3.2s
Archive:  ml-latest-small.zip
  inflating: ml-latest-small/links.csv
  inflating: ml-latest-small/tags.csv
  inflating: ml-latest-small/ratings.csv
  inflating: ml-latest-small/README.txt
  inflating: ml-latest-small/movies.csv

In [2]:
%env DATASET_PATH ml-latest-small

env: DATASET_PATH=ml-latest-small

# Creating a database

We will be using Hive's [Beeline CLS](https://cwiki.apache.org/confluence/display/Hive/HiveServer2+Clients#HiveServer2Clients-Beeline%E2%80%93CommandLineShell).

Listing databases:

In [3]:
!beeline -u "jdbc:hive2://" -e "SHOW DATABASES;"

Connecting to jdbc:hive2://
Connected to: Apache Hive (version 2.3.5)
Driver: Hive JDBC (version 2.3.5)
Transaction isolation: TRANSACTION_REPEATABLE_READ
OK
+----------------+
| database_name  |
+----------------+
| default        |
+----------------+
1 row selected (1.079 seconds)
Beeline version 2.3.5 by Apache Hive
Closing: 0: jdbc:hive2://

In [4]:
!beeline -u "jdbc:hive2://" -e "CREATE DATABASE IF NOT EXISTS movielens;"

Connecting to jdbc:hive2://
Connected to: Apache Hive (version 2.3.5)
Driver: Hive JDBC (version 2.3.5)
Transaction isolation: TRANSACTION_REPEATABLE_READ
OK
No rows affected (1.038 seconds)
Beeline version 2.3.5 by Apache Hive
Closing: 0: jdbc:hive2://

In [5]:
!beeline -u "jdbc:hive2://" -e "SHOW DATABASES;"

Connecting to jdbc:hive2://
Connected to: Apache Hive (version 2.3.5)
Driver: Hive JDBC (version 2.3.5)
Transaction isolation: TRANSACTION_REPEATABLE_READ
OK
+----------------+
| database_name  |
+----------------+
| default        |
| movielens      |
+----------------+
2 rows selected (1.06 seconds)
Beeline version 2.3.5 by Apache Hive
Closing: 0: jdbc:hive2://

## Creating a table ratings in the movielens database

In [6]:
#Verifying tables
!beeline -u "jdbc:hive2://" -e "USE movielens; SHOW tables;"

Connecting to jdbc:hive2://
Connected to: Apache Hive (version 2.3.5)
Driver: Hive JDBC (version 2.3.5)
Transaction isolation: TRANSACTION_REPEATABLE_READ
OK
No rows affected (0.946 seconds)
OK
+-----------+
| tab_name  |
+-----------+
+-----------+
No rows selected (0.181 seconds)
Beeline version 2.3.5 by Apache Hive
Closing: 0: jdbc:hive2://

In [7]:
#Creating table ratings
!beeline -u "jdbc:hive2://" -e "USE movielens; CREATE TABLE ratings(                                           \
                                                                     userID  INT,                              \
                                                                     movieID INT,                              \
                                                                     rating  INT,                              \
                                                                     time    INT )                             \
                                                            ROW FORMAT DELIMITED                               \
                                                            FIELDS TERMINATED BY ','                           \
                                                            STORED AS TEXTFILE                                 \
                                                            tblproperties(\"skip.header.line.count\"=\"1\");"

Connecting to jdbc:hive2://
Connected to: Apache Hive (version 2.3.5)
Driver: Hive JDBC (version 2.3.5)
Transaction isolation: TRANSACTION_REPEATABLE_READ
OK
No rows affected (0.968 seconds)
OK
No rows affected (0.655 seconds)
Beeline version 2.3.5 by Apache Hive
Closing: 0: jdbc:hive2://

In [8]:
!beeline -u "jdbc:hive2://" -e "USE movielens; SHOW tables;"

Connecting to jdbc:hive2://
Connected to: Apache Hive (version 2.3.5)
Driver: Hive JDBC (version 2.3.5)
Transaction isolation: TRANSACTION_REPEATABLE_READ
OK
No rows affected (0.968 seconds)
OK
+-----------+
| tab_name  |
+-----------+
| ratings   |
+-----------+
1 row selected (0.272 seconds)
Beeline version 2.3.5 by Apache Hive
Closing: 0: jdbc:hive2://

## Import data from local file system

In [9]:
!beeline -u "jdbc:hive2://" -e "USE movielens; SELECT * FROM ratings;"

Connecting to jdbc:hive2://
Connected to: Apache Hive (version 2.3.5)
Driver: Hive JDBC (version 2.3.5)
Transaction isolation: TRANSACTION_REPEATABLE_READ
OK
No rows affected (0.916 seconds)
OK
+-----------------+------------------+-----------------+---------------+
| ratings.userid  | ratings.movieid  | ratings.rating  | ratings.time  |
+-----------------+------------------+-----------------+---------------+
+-----------------+------------------+-----------------+---------------+
No rows selected (1.336 seconds)
Beeline version 2.3.5 by Apache Hive
Closing: 0: jdbc:hive2://

In [10]:
#Loading data
!beeline -u "jdbc:hive2://" -e "USE movielens;  LOAD DATA LOCAL INPATH '$(pwd)/$DATASET_PATH/ratings.csv'\
                                                OVERWRITE INTO TABLE ratings;"

Connecting to jdbc:hive2://
Connected to: Apache Hive (version 2.3.5)
Driver: Hive JDBC (version 2.3.5)
Transaction isolation: TRANSACTION_REPEATABLE_READ
OK
No rows affected (0.896 seconds)
Loading data to table movielens.ratings
OK
No rows affected (1.344 seconds)
Beeline version 2.3.5 by Apache Hive
Closing: 0: jdbc:hive2://

In [11]:
!beeline -u "jdbc:hive2://" -e "USE movielens; SELECT * FROM ratings LIMIT 10;"

Connecting to jdbc:hive2://
Connected to: Apache Hive (version 2.3.5)
Driver: Hive JDBC (version 2.3.5)
Transaction isolation: TRANSACTION_REPEATABLE_READ
OK
No rows affected (0.908 seconds)
OK
+-----------------+------------------+-----------------+---------------+
| ratings.userid  | ratings.movieid  | ratings.rating  | ratings.time  |
+-----------------+------------------+-----------------+---------------+
| 1               | 1                | 4               | 964982703     |
| 1               | 3                | 4               | 964981247     |
| 1               | 6                | 4               | 964982224     |
| 1               | 47               | 5               | 964983815     |
| 1               | 50               | 5               | 964982931     |
| 1               | 70               | 3               | 964982400     |
| 1               | 101              | 5               | 964980868     |
| 1               | 110              | 4               | 964982176     |
| 1               | 151              | 5               | 964984041     |
| 1               | 157              | 5               | 964984100     |
+-----------------+------------------+-----------------+---------------+
10 rows selected (1.378 seconds)
Beeline version 2.3.5 by Apache Hive
Closing: 0: jdbc:hive2://

## Verifying the file created by Hive

In [12]:
!hdfs dfs -ls /user/hive/warehouse/
!hdfs dfs -ls /user/hive/warehouse/movielens.db/
!hdfs dfs -ls /user/hive/warehouse/movielens.db/ratings

Found 1 items
drwxr-xr-x   - matheus supergroup          0 2019-07-18 06:26 /user/hive/warehouse/movielens.db
Found 1 items
drwxr-xr-x   - matheus supergroup          0 2019-07-18 06:27 /user/hive/warehouse/movielens.db/ratings
Found 1 items
-rwxr-xr-x   1 matheus supergroup    2483723 2019-07-18 06:27 /user/hive/warehouse/movielens.db/ratings/ratings.csv

## Finding the most popular movie

In [13]:
!beeline -u "jdbc:hive2://" -e "USE movielens; SELECT movieID, COUNT(movieID) as ratingCount  \
                                                                                FROM ratings                   \
                                                                                GROUP BY movieID               \
                                                                                ORDER BY ratingCount DESC      \
                                                                                LIMIT 10;"

Connecting to jdbc:hive2://
Connected to: Apache Hive (version 2.3.5)
Driver: Hive JDBC (version 2.3.5)
Transaction isolation: TRANSACTION_REPEATABLE_READ
OK
No rows affected (0.935 seconds)
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = matheus_20190718062725_1c5962bb-f38e-4869-97ef-e57e3fcd2c52
Total jobs = 2
Launching Job 1 out of 2
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Starting Job = job_1563431070808_0001, Tracking URL = http://54b67fa7c528:8088/proxy/application_1563431070808_0001/
Kill Command = /home/matheus/hadoop-2.9.2/bin/hadoop job  -kill job_1563431070808_0001
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
2019-07-18 06:27:33,835 Stage-1 map = 0%,  reduce = 0%
2019-07-18 06:27:39,018 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 2.49 sec
2019-07-18 06:27:43,162 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 4.15 sec
MapReduce Total cumulative CPU time: 4 seconds 150 msec
Ended Job = job_1563431070808_0001
Launching Job 2 out of 2
Number of reduce tasks determined at compile time: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1563431070808_0002, Tracking URL = http://54b67fa7c528:8088/proxy/application_1563431070808_0002/
Kill Command = /home/matheus/hadoop-2.9.2/bin/hadoop job  -kill job_1563431070808_0002
Hadoop job information for Stage-2: number of mappers: 1; number of reducers: 1
2019-07-18 06:27:54,858 Stage-2 map = 0%,  reduce = 0%
2019-07-18 06:27:58,942 Stage-2 map = 100%,  reduce = 0%, Cumulative CPU 1.58 sec
2019-07-18 06:28:04,081 Stage-2 map = 100%,  reduce = 100%, Cumulative CPU 3.01 sec
MapReduce Total cumulative CPU time: 3 seconds 10 msec
Ended Job = job_1563431070808_0002
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 4.15 sec   HDFS Read: 2491236 HDFS Write: 208883 SUCCESS
Stage-Stage-2: Map: 1  Reduce: 1   Cumulative CPU: 3.01 sec   HDFS Read: 214534 HDFS Write: 288 SUCCESS
Total MapReduce CPU Time Spent: 7 seconds 160 msec
OK
+----------+--------------+
| movieid  | ratingcount  |
+----------+--------------+
| 356      | 329          |
| 318      | 317          |
| 296      | 307          |
| 593      | 279          |
| 2571     | 278          |
| 260      | 251          |
| 480      | 238          |
| 110      | 237          |
| 589      | 224          |
| 527      | 220          |
+----------+--------------+
10 rows selected (39.62 seconds)
Beeline version 2.3.5 by Apache Hive
Closing: 0: jdbc:hive2://

## Finding the name of the most popular movie

### Creating a new table that contains movies' title

In [14]:
#Creating a new table called movieNames
!beeline -u "jdbc:hive2://" -e "USE movielens; CREATE TABLE movieNames(                                                   \
                                                                        movieID  INT,                                     \
                                                                        title STRING)                                     \
                                                                        ROW FORMAT DELIMITED                              \
                                                                        FIELDS TERMINATED BY ','                          \
                                                                        STORED AS TEXTFILE                                \
                                                                        tblproperties(\"skip.header.line.count\"=\"1\");"

Connecting to jdbc:hive2://
Connected to: Apache Hive (version 2.3.5)
Driver: Hive JDBC (version 2.3.5)
Transaction isolation: TRANSACTION_REPEATABLE_READ
OK
No rows affected (0.908 seconds)
OK
No rows affected (0.56 seconds)
Beeline version 2.3.5 by Apache Hive
Closing: 0: jdbc:hive2://

In [15]:
#Loading data into movieNames table
!beeline -u "jdbc:hive2://" -e "USE movielens;  LOAD DATA LOCAL INPATH '$DATASET_PATH/movies.csv'       \
                                                OVERWRITE INTO TABLE movieNames;"

Connecting to jdbc:hive2://
Connected to: Apache Hive (version 2.3.5)
Driver: Hive JDBC (version 2.3.5)
Transaction isolation: TRANSACTION_REPEATABLE_READ
OK
No rows affected (0.908 seconds)
Loading data to table movielens.movienames
OK
No rows affected (0.894 seconds)
Beeline version 2.3.5 by Apache Hive
Closing: 0: jdbc:hive2://

### Creating a view to store the movies' popularity

In [16]:
!beeline -u "jdbc:hive2://" -e "USE movielens;  CREATE VIEW topMoviesIds AS                                          \
                                                SELECT movieID, COUNT(movieID) as ratingCount        \
                                                FROM ratings                                         \
                                                GROUP BY movieID                                     \
                                                ORDER BY ratingCount DESC;"

Connecting to jdbc:hive2://
Connected to: Apache Hive (version 2.3.5)
Driver: Hive JDBC (version 2.3.5)
Transaction isolation: TRANSACTION_REPEATABLE_READ
OK
No rows affected (0.901 seconds)
OK
No rows affected (1.424 seconds)
Beeline version 2.3.5 by Apache Hive
Closing: 0: jdbc:hive2://

### Finding the name of the most popular movie

In [17]:
!beeline -u "jdbc:hive2://" -e "USE movielens;  SELECT n.title, ratingCount                                                          \
                                                FROM topMoviesIds t JOIN movieNames n ON t.movieID = n.movieID       \
                                                LIMIT 10;"

Connecting to jdbc:hive2://
Connected to: Apache Hive (version 2.3.5)
Driver: Hive JDBC (version 2.3.5)
Transaction isolation: TRANSACTION_REPEATABLE_READ
OK
No rows affected (0.916 seconds)
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = matheus_20190718062840_553754b9-482a-4b00-8420-c3e203f26518
Total jobs = 3
Launching Job 1 out of 3
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Starting Job = job_1563431070808_0003, Tracking URL = http://54b67fa7c528:8088/proxy/application_1563431070808_0003/
Kill Command = /home/matheus/hadoop-2.9.2/bin/hadoop job  -kill job_1563431070808_0003
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
2019-07-18 06:28:47,862 Stage-1 map = 0%,  reduce = 0%
2019-07-18 06:28:53,043 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 2.87 sec
2019-07-18 06:28:57,166 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 4.58 sec
MapReduce Total cumulative CPU time: 4 seconds 580 msec
Ended Job = job_1563431070808_0003
Launching Job 2 out of 3
Number of reduce tasks determined at compile time: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1563431070808_0004, Tracking URL = http://54b67fa7c528:8088/proxy/application_1563431070808_0004/
Kill Command = /home/matheus/hadoop-2.9.2/bin/hadoop job  -kill job_1563431070808_0004
Hadoop job information for Stage-2: number of mappers: 1; number of reducers: 1
2019-07-18 06:29:08,026 Stage-2 map = 0%,  reduce = 0%
2019-07-18 06:29:12,182 Stage-2 map = 100%,  reduce = 0%, Cumulative CPU 1.64 sec
2019-07-18 06:29:16,267 Stage-2 map = 100%,  reduce = 100%, Cumulative CPU 3.1 sec
MapReduce Total cumulative CPU time: 3 seconds 100 msec
Ended Job = job_1563431070808_0004
2019-07-18 06:29:20	Starting to launch local task to process map join;	maximum memory = 477626368
2019-07-18 06:29:20	Starting to launch local task to process map join;	maximum memory = 477626368
2019-07-18 06:29:21	Dump the side-table for tag: 1 with group count: 9742 into file: file:/tmp/matheus/0354b595-f271-45b6-9dfd-5c655cfc2300/hive_2019-07-18_06-28-40_846_3332176836647057025-1/-local-10006/HashTable-Stage-5/MapJoin-mapfile01--.hashtable
2019-07-18 06:29:21	Uploaded 1 File to: file:/tmp/matheus/0354b595-f271-45b6-9dfd-5c655cfc2300/hive_2019-07-18_06-28-40_846_3332176836647057025-1/-local-10006/HashTable-Stage-5/MapJoin-mapfile01--.hashtable (439750 bytes)
2019-07-18 06:29:21	End of local task; Time Taken: 1.08 sec.
Execution completed successfully
MapredLocal task succeeded
Launching Job 3 out of 3
Number of reduce tasks is set to 0 since there's no reduce operator
Starting Job = job_1563431070808_0005, Tracking URL = http://54b67fa7c528:8088/proxy/application_1563431070808_0005/
Kill Command = /home/matheus/hadoop-2.9.2/bin/hadoop job  -kill job_1563431070808_0005
2019-07-18 06:29:21	Dump the side-table for tag: 1 with group count: 9742 into file: file:/tmp/matheus/0354b595-f271-45b6-9dfd-5c655cfc2300/hive_2019-07-18_06-28-40_846_3332176836647057025-1/-local-10006/HashTable-Stage-5/MapJoin-mapfile01--.hashtable
2019-07-18 06:29:21	Uploaded 1 File to: file:/tmp/matheus/0354b595-f271-45b6-9dfd-5c655cfc2300/hive_2019-07-18_06-28-40_846_3332176836647057025-1/-local-10006/HashTable-Stage-5/MapJoin-mapfile01--.hashtable (439750 bytes)
2019-07-18 06:29:21	End of local task; Time Taken: 1.08 sec.
Hadoop job information for Stage-5: number of mappers: 1; number of reducers: 0
2019-07-18 06:29:28,224 Stage-5 map = 0%,  reduce = 0%
2019-07-18 06:29:32,366 Stage-5 map = 100%,  reduce = 0%, Cumulative CPU 1.54 sec
MapReduce Total cumulative CPU time: 1 seconds 540 msec
Ended Job = job_1563431070808_0005
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 4.58 sec   HDFS Read: 2491372 HDFS Write: 208883 SUCCESS
Stage-Stage-2: Map: 1  Reduce: 1   Cumulative CPU: 3.1 sec   HDFS Read: 213551 HDFS Write: 208883 SUCCESS
Stage-Stage-5: Map: 1   Cumulative CPU: 1.54 sec   HDFS Read: 5834 HDFS Write: 478 SUCCESS
Total MapReduce CPU Time Spent: 9 seconds 220 msec
OK
+--------------------------------------------+--------------+
|                  n.title                   | ratingcount  |
+--------------------------------------------+--------------+
| Forrest Gump (1994)                        | 329          |
| "Shawshank Redemption                      | 317          |
| Pulp Fiction (1994)                        | 307          |
| "Silence of the Lambs                      | 279          |
| "Matrix                                    | 278          |
| Star Wars: Episode IV - A New Hope (1977)  | 251          |
| Jurassic Park (1993)                       | 238          |
| Braveheart (1995)                          | 237          |
| Terminator 2: Judgment Day (1991)          | 224          |
| Schindler's List (1993)                    | 220          |
+--------------------------------------------+--------------+
10 rows selected (52.674 seconds)
Beeline version 2.3.5 by Apache Hive
Closing: 0: jdbc:hive2://

# It's your turn

## Find the movie with the highest average time

What do you think about this result??

#Select to see the result

<font color='white'>
SELECT movieID, AVG(rating) as ratingAVG<br>
FROM ratings<br>
GROUP BY movieID<br>
ORDER BY ratingAVG DESC;<br>
LIMIT 10;
</font>

## Find the movie with the highest average time, only considering movies with more than 10 ratings

#Select to see the result

<font color='white'>
SOLUTION 1: <br>
SELECT r.movieID, m.title, AVG(r.rating) as ratingAVG, COUNT(r.rating) as ratingCount<br>
FROM ratings r JOIN movieNames m ON r.movieID = m.movieID<br>
GROUP BY r.movieID, m.title<br>
HAVING ratingCount > 10<br>
ORDER BY ratingAVG DESC<br>
LIMIT 10;<br><br>
SOLUTION 2:<br>
CREATE VIEW avgMoviesIds AS<br>
SELECT movieID, AVG(rating) as ratingAVG<br>
FROM ratings<br>
GROUP BY movieID<br>
ORDER BY ratingAVG DESC;<br>
<br>
SELECT n.title as titles, a.ratingAVG as average, t.ratingCount as rating<br>
FROM avgMoviesIds a JOIN topMoviesIds t ON a.movieID = t.movieID<br>
    JOIN movieNames n ON t.movieID = n.movieID<br>
WHERE t.ratingCount >10<br>
ORDER BY average DESC<br>
LIMIT 10;
</font>