# Introduction

In this lecture we will use the MovieLens dataset containing 100k movie ratings.

MovieLens site: https://grouplens.org/datasets/movielens/

100k dataset: http://files.grouplens.org/datasets/movielens/ml-100k.zip

# Creating a database in Mysql

In [ ]:
#Verifying created databases
!mysql -e "SHOW DATABASES;"

In [ ]:
#Creating a database
!mysql -e "CREATE DATABASE IF NOT EXISTS movielens;"
!mysql -e "SHOW DATABASES;"

# Inserting data

In [ ]:
#Adjusting the data format and importing the data
!mysql -e "SET NAMES 'utf8';       \
           SET CHARACTER SET utf8; \
           USE movielens;          \
           SOURCE resources/movielens.sql;"

In [ ]:
!mysql -e "USE movielens; \
           SHOW TABLES";

In [ ]:
!mysql -e "USE movielens; \
           SELECT * FROM movies LIMIT 10";

In [ ]:
!mysql -e "USE movielens; \
           DESCRIBE ratings";

In [ ]:
#Find the top rated movie using mysql. Is this faster enough for you?
!mysql -e "USE movielens;                                                  \
           SELECT movies.title, COUNT(ratings.movie_id) as ratingCount        \
           FROM movies INNER JOIN ratings ON movies.id = ratings.movie_id  \
           GROUP BY movies.title                                           \
           ORDER BY ratingCount DESC;"

# TO DO: Importing data to Hive using Sqoop

In [ ]:
#Cleaning the movies folder
!hdfs dfs -rm /user/${USER}/movies/*
!hdfs dfs -rmdir /user/${USER}/movies
!hdfs dfs -ls /user/${USER}

In [ ]:
#Importing data from Mysql to HDFS
#! && \
#echo $HIVE_CONF_DIR && \
!HADOOP_CLASSPATH=$HIVE_HOME/lib/ && \
sqoop import --connect jdbc:mysql://localhost/movielens?user=${USER} --driver com.mysql.jdbc.Driver --table movies -m 1 --hive-import